<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ADVANCO.ARC.AdminPL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
    <add key="DefaultConnectionStringName" value="TestSQL"/>
  </appSettings>
	<applicationSettings>
		<ADVANCO.ARC.AdminPL.Properties.Settings>
			<setting name="ARCAdminPL_AIIsrvGetNumberRange_service" serializeAs="String">
				<value>http://VMWTST081.anadolu.corp:8029/sap/bc/srt/rfc/sap/zain_get_number_range/029/zain_get_number_range/zain_get_number_range</value>
			</setting>
			<setting name="AutoUpdateEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AutoUpdateSourceDirectory" serializeAs="String">
				<value>\\dell-el-dev\C$\dev\dotnet\advanco\ARC Project\ArcProg\ARCAdminPL</value>
			</setting>
			<setting name="AutoUpdateExtraDirectories" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>\\dell-el-dev\C$\dev\dotnet\advanco\ARC Project\ArcProg\Plugins#copyto#E:\tmp\tmp\ArcProg\Plugins</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="SaveMesConfigDirectoryNameOrVar" serializeAs="String">
				<value />
			</setting>
			<setting name="MultipleConfigFile" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AllowUserToChoiceDatConfigFile" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StoreClientWindowsNameInConfigFile" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CockpitThemeSetting" serializeAs="String">
				<value>Theme1</value>
			</setting>
			<setting name="EnableOptimizedDesignerReloading" serializeAs="String">
				<value>false</value>
			</setting>
		</ADVANCO.ARC.AdminPL.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>